<div class="w3-card-4 w3-margin-top w3-margin-bottom w3-content" style="max-width: 800px">
  <div class="w3-border-bottom flex">
    <h1 class="w3-padding margin-less grow">Models</h1>
    <button (click)="openModal()" color="accent" mat-raised-button>
      <mat-icon>add_circle_outline</mat-icon>
      New Model
    </button>
  </div>
  <div class="w3-padding w3-margin-top">
    <mat-form-field appearance="outline" class="blc">
      <mat-label><label for="searchDB">Search</label></mat-label>
      <input [(ngModel)]="searchWord" id="searchDB" matInput placeholder="Search a Model">
      <div matSuffix>
        <mat-icon>search</mat-icon>
      </div>
    </mat-form-field>
    <mat-list class="padding-less w3-border w3-round w3-margin-bottom">
      <mat-list-item *ngFor="let model of models | filterBy: searchWord" [routerLink]="['/editor', model.name]"
                     class="pointer">
        <span class="mat-h3 margin-less">{{ model.name }}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>
