<div class="w3-container w3-padding">
  <div class="w3-card-4">
    <div class="w3-padding w3-border-bottom flex">
      <h1 class="margin-less grow">Models</h1>
      <button mat-raised-button color="accent">Create new Database Model</button>
    </div>
    <div class="w3-padding">
      <mat-form-field appearance="fill">
        <mat-label><label for="searchDB">Search</label></mat-label>
        <input matInput id="searchDB" placeholder="Search a Model" [(ngModel)]="searchWord">
      </mat-form-field>
    </div>
  </div>
</div>
