@import '~highlight.js/styles/atom-one-light.css';

@import '~@angular/material/theming';

@include mat-core();

$s4-web-project-primary: mat-palette($mat-teal, 600, A100, A700);
$s4-web-project-accent: mat-palette($mat-pink, A200, A100, A400);

$s4-web-project-warn: mat-palette($mat-red);

$s4-web-project-theme: mat-light-theme($s4-web-project-primary, $s4-web-project-accent, $s4-web-project-warn);

@include angular-material-theme($s4-web-project-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.margin-less {
  margin: 0 0 0 0 !important;
}

.padding-less {
  padding: 0 0 0 0 !important;
}

.span {
  @extend .margin-less;
  @extend .padding-less;

  &.block {
    display: inline-block !important;
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.mat-form-field {
  transition: all 500ms;
  min-width: 75%;
}

.blc {
  display: block !important;
  min-width: 100%;
}

mat-list-item:nth-of-type(odd) {
  background-color: #f1f1f1;
}

mat-list-item:hover {
  background-color: map-get($mat-blue, 100);
}

mat-list {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

mat-toolbar, mat-toolbar-row {
  z-index: 50 !important;
  + div {
    height: calc(100% - 64px);
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.secondary {
  background-color: map-get($mat-teal, 400);
  color: white;
}

.card-container {
  padding: 18px;
}

button {
  border-radius: 0 0 0 0 !important;
}

.w3-card {
  @include mat-elevation(3);
}

.w3-card-4 {
  @include mat-elevation(6);
}

.w3-medium {
  font-size: 16px !important;
}

.mat-form-field-flex {
  align-items: center !important;
}

sql-table > div {
  transition: box-shadow 250ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

sql-table > div:active {
  @include mat-elevation(10);
}

.new_loc {
  cursor: url('src/assets/loc.svg') 16 32, auto;
}

.active {
  background-color: map-get($mat-teal, 500) !important;
  color: white !important;
}

.green {
  background-color: map-get($mat-green, A700);
  color: white;
}

.pink-txt {
  color: map-get($mat-pink, 500);
}

.accent {
  background-color: map-get($mat-pink, 500);
  opacity: 1 !important;
  color: white;
}

.accent-txt {
  color: map-get($mat-pink, 500);
}

.src , .src * {
  cursor: url('src/assets/touch.svg') 16 32, auto !important;
}
.trg, .trg * {
  cursor: url('src/assets/link.svg') 16 32, auto !important;
}

.hljs-ln-numbers {
  padding-right: 12px !important;
}

[mat-align-tabs="start"] .mat-tab-labels {
  justify-content: start !important;
}
